<?xml version='1.0' encoding='utf-8'?>
<widget id="com.h4ckademy.juego.2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Juego 3</name>
    <description>
        Juego Final Phaser. Curso MiriadaX: Creando Apps
    </description>
    <author email="juanmanuel0710@gmail.com" href="juanmanuel0710.neocities.org">
        Juan Manuel Martínez 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-device-motion" spec="2.0.0" />
    <plugin name="cordova-plugin-screen-orientation" spec="3.0.1" />
   <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
</widget>
